{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font">
    <div>
        <h1 class="text-4xl pl-7 py-5 text-gray-800">团队业绩</h1>
    </div>
    <div class=" px-5 py-10 mx-auto flex flex-wrap">
        <div class="d-flex align-items-center position-relative my-1 me-5">
            <i class="fa fa-search fs-3 position-absolute ms-5" style="font-size:20px;">
            </i>
            <input type="text" data-kt-permissions-table-filter="search"
                class="form-control form-control-solid w-250px ps-13 p-1 mb-1" placeholder="搜索" />
        </div>

        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

                        <table class="min-w-full divide-y divide-gray-200" id="kt_permissions_table">
                            <thead class="bg-gray-50">
                                <tr>

                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        用户名
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        案子数量
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        总提成
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        完成案子
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        积累提成
                                    </th>
                                    <th class="px-1 py-1"></th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for per in performances %}
                                <tr class="bg-white">
                                    {% for data in per %}
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ data }}
                                    </td>
                                    {% endfor %}
                                    <td class="px-1 py-1"></td>
                                </tr>
                                {% empty %}
                                <p>There are currently no performance</p>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
  



    </div>
</section>
{% endblock content %}