{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class=" px-3 py-2 mx-auto">
      <div class="my-4 container divide-y-2 divide-gray-100">
        <div>
            <h1 class="text-3xl text-gray-800 mb-4">文档</h1>
        </div>

        <a href="{% url 'folders:subfolder-add' curr_folder.id %}"><div class="relative py-3 text-blue-800 hover:text-blue-500 cursor-pointer">
            <h1 class="text-3xl text-gray-800 mb-4">+</h1>
        </div></a>

        <div class="grid grid-cols-1 md:grid-cols-5 gap-6 mb-4">
            {% for folder in curr_folders %}
                <div class="p-6 bg-white border border-gray-200 shadow-sm rounded-lg dark:bg-gray-800 dark:border-gray-700 flex flex-col items-center justify-center">
                    <a href="{% url 'folders:sub-folder' folder.pk %}"><h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-800 dark:text-white text-center">{{ folder.name }}</h5></a>
                    <div class="flex space-x-4">
                        <a href="{% url 'folders:folder-delete' parent_id=curr_folder.id pk=folder.id %}" class="inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-red-500 dark:focus:ring-blue-800">
                            删除
                        </a>
                        <a href="{% url 'folders:folder-update' parent_id=curr_folder.id pk=folder.id %}" class="inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-green-400 rounded-lg hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-red-500 dark:focus:ring-blue-800">
                            编辑
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{% url 'folders:subfoldercontent-add' curr_folder.id %}">
            <div class="relative py-3 text-blue-800 hover:text-blue-500 cursor-pointer">
                <h1 class="text-3xl text-gray-800 mb-4">+</h1>
            </div>
        </a>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {% for content in curr_contents %}
           
            <div class="container mx-auto shadow px-4 py-1 sm:px-6">
                <div class="py-1 sm:py-2 sm:grid sm:grid-cols-3 sm:gap-2">
                    <dt class="text-sm font-medium text-gray-500">
                        {{ content.title }}
                    </dt>
                    <dd class="mt-0 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ content.description }}
                    </dd>
                </div>
            
                {% if content.file %}
                    <div class="py-1 sm:py-2 sm:grid sm:grid-cols-3 sm:gap-2">
                        <dt class="text-sm font-medium text-gray-500">
                            文件
                        </dt>
                        <dd class="mt-0 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                                <li class="pl-2 pr-3 py-1 flex items-center justify-between text-sm">
                                    <div class="w-0 flex-1 flex items-center">
                                        <svg class="flex-shrink-0 h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                                        </svg>
                                        <span class="ml-2 flex-1 w-0 truncate">
                                            {{ content.file.name }}
                                        </span>
                                    </div>
                                    <div class="ml-3 flex-shrink-0">
                                        <a href="{{ content.file.url }}" download class="font-medium text-indigo-600 hover:text-indigo-500">
                                            下载
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </dd>
                    </div>
                {% endif %}
            
                {% if content.url %}
                    <div class="py-1 sm:py-2 sm:grid sm:grid-cols-3 sm:gap-2">
                        <dt class="text-sm font-medium text-gray-500">
                            链接
                        </dt>
                        <dd class="mt-0 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            <a href="{{ content.url }}" class="text-blue-500 hover:text-blue-700">
                                {{ content.url }}
                            </a>
                        </dd>
                        <iframe src="https://docs.google.com/viewer?url={{content.file.url}} &embedded=true" width="600" height="200" style="border: none;"></iframe>
                    </div>
                {% endif %}
            
                <div class="py-1 flex justify-between">
                    <a href="{% url 'folders:foldercontent-update' parent_id=curr_folder.id pk=content.pk %}" class="text-blue-500 hover:text-green-500">更改</a>
                    <a href="{% url 'folders:foldercontent-delete' parent_id=curr_folder.id pk=content.id %}" class="text-blue-500 hover:text-red-500">删除</a>
                </div>

            </div>
    

            {% endfor %}
        </div>

        

      </div>
    </div>
  </section>

{% endblock content %}