{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class=" px-5 py-2 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">用户</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ delete_user.username }}</h1>
            <div class="flex mb-4">
                <a href="{% url 'agents:user-detail' delete_user.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                    概述
                </a>
                <a href="{% url 'agents:user-update' delete_user.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                    更改信息
                </a>    
                <a href="{% url 'agents:user-delete-option' delete_user.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                    注销用户
                </a>
            </div>
            <div class="flex justify-center mt-24">
                <a href="{% url 'agents:user-delete' delete_user.pk %}" class="text-white text-4xl bg-red-500 hover:bg-red-600 font-medium py-2 px-4 rounded-lg">
                    删除用户
                </a>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}